

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="org.example.Dev">
        <property name="comp" ref="laptop123" />
<!--        <property name="age" value="21" />-->
<!--        <property name="laptop" ref="laptop123" />-->
<!--        <constructor-arg ref="laptop123"/>-->
    </bean>
    <bean id="laptop123" class="org.example.Laptop"></bean>
    <bean id="desktop123" class="org.example.Desktop" />
</beans>

<!--<beans>-->

<!--</beans>-->